/* @font-face {
  font-family: "conformity";
  src: url("/fonts/conformity.normal-webfont.eot");
  src:
    url("/fonts/conformity.normal-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/conformity.normal-webfont.woff2") format("woff2"),
    url("/fonts/conformity.normal-webfont.woff") format("woff"),
    url("/fonts/conformity.normal-webfont.ttf") format("truetype"),
    url("/fonts/conformity.normal-webfont.svg#conformitynormal") format("svg");
  font-weight: normal;
  font-style: normal;
} */

@font-face {
  font-family: "bianco-sans";
  src: url("/fonts/bianco-sans-7.eot");
  src: url("/fonts/bianco-sans-7.eot?#iefix") format("embedded-opentype"),
    url("/fonts/bianco-sans-7.woff2") format("woff2"),
    url("/fonts/bianco-sans-7.woff") format("woff"),
    url("/fonts/bianco-sans-7.ttf") format("truetype"),
    url("/fonts/bianco-sans-7.svg#BiancoSans-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "bianco-sans";
  src: url("/fonts/bianco-sans-3.eot");
  src: url("/fonts/bianco-sans-3.eot?#iefix") format("embedded-opentype"),
    url("/fonts/bianco-sans-3.woff2") format("woff2"),
    url("/fonts/bianco-sans-3.woff") format("woff"),
    url("/fonts/bianco-sans-3.ttf") format("truetype"),
    url("/fonts/bianco-sans-3.svg#BiancoSans-ExtraBold") format("svg");
  font-weight: bold;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

body {
  font-family: "bianco-sans", serif;
}

a:hover {
  text-decoration: underline;
}

.prose li p {
  margin: 0;
}

img {
  display: block;
}

p a {
  background: black;
  color: white !important;
  padding: 3px;
}

.sprite {
  width: 400px;
  height: 200px;
  background: url("/cats.png") no-repeat;
  animation-timing-function: steps(1);
  scale: 0.2;
}

.cat1 {
  animation: cat1Animation 1.2s steps(12) infinite,
    moveAndFlip 10s linear infinite;
}

@keyframes cat1Animation {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 -2400px;
  }
}

@keyframes moveAndFlip {
  0%,
  100% {
    transform: translateX(0) scaleX(1);
  }
  49.99% {
    transform: translateX(-1500px) scaleX(1);
  }
  50% {
    transform: translateX(-1500px) scaleX(-1);
  }
  99.99% {
    transform: translateX(0) scaleX(-1);
  }
}

.cat2 {
  animation: cat2Animation 0.6s steps(6) infinite;
}

@keyframes cat2Animation {
  from {
    background-position: -405px 0px;
  }
  to {
    background-position: -405px -1200px;
  }
}

.cat3 {
  animation: cat3Animation 1.2s steps(12) infinite;
}

@keyframes cat3Animation {
  from {
    background-position: -810px -0px;
  }
  to {
    background-position: -810px -2400px;
  }
}

.cat4 {
  animation: cat4Animation 1.3s steps(13) infinite;
}

@keyframes cat4Animation {
  from {
    background-position: -1215px 0px;
  }
  to {
    background-position: -1215px -2600px;
  }
}
