@font-face {
  font-family: "conformity";
  src: url("/fonts/conformity.normal-webfont.eot");
  src:
    url("/fonts/conformity.normal-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/conformity.normal-webfont.woff2") format("woff2"),
    url("/fonts/conformity.normal-webfont.woff") format("woff"),
    url("/fonts/conformity.normal-webfont.ttf") format("truetype"),
    url("/fonts/conformity.normal-webfont.svg#conformitynormal") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "typewriter";
  src: url("/fonts/travelingtypewriter-webfont.eot");
  src:
    url("/fonts/travelingtypewriter-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/travelingtypewriter-webfont.woff2") format("woff2"),
    url("/fonts/travelingtypewriter-webfont.woff") format("woff"),
    url("/fonts/travelingtypewriter-webfont.ttf") format("truetype"),
    url("/fonts/travelingtypewriter-webfont.svg#traveling__typewriterregular")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

body {
  font-family: typewriter, serif;
}

a:hover {
  text-decoration: underline;
}

.prose li p {
  margin: 0;
}

img {
  display: block;
}
