/* @font-face {
  font-family: "conformity";
  src: url("/fonts/conformity.normal-webfont.eot");
  src:
    url("/fonts/conformity.normal-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/conformity.normal-webfont.woff2") format("woff2"),
    url("/fonts/conformity.normal-webfont.woff") format("woff"),
    url("/fonts/conformity.normal-webfont.ttf") format("truetype"),
    url("/fonts/conformity.normal-webfont.svg#conformitynormal") format("svg");
  font-weight: normal;
  font-style: normal;
} */

@font-face {
  font-family: "bianco-sans";
  src: url("/fonts/bianco-sans-7.eot");
  src: url("/fonts/bianco-sans-7.eot?#iefix") format("embedded-opentype"),
    url("/fonts/bianco-sans-7.woff2") format("woff2"),
    url("/fonts/bianco-sans-7.woff") format("woff"),
    url("/fonts/bianco-sans-7.ttf") format("truetype"),
    url("/fonts/bianco-sans-7.svg#BiancoSans-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "bianco-sans";
  src: url("/fonts/bianco-sans-3.eot");
  src: url("/fonts/bianco-sans-3.eot?#iefix") format("embedded-opentype"),
    url("/fonts/bianco-sans-3.woff2") format("woff2"),
    url("/fonts/bianco-sans-3.woff") format("woff"),
    url("/fonts/bianco-sans-3.ttf") format("truetype"),
    url("/fonts/bianco-sans-3.svg#BiancoSans-ExtraBold") format("svg");
  font-weight: bold;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

body {
  font-family: "bianco-sans", serif;
}

a:hover {
  text-decoration: underline;
}

.prose li p {
  margin: 0;
}

img {
  display: block;
}

p a {
  background: black;
  color: white !important;
  padding: 3px;
}
